<div class="contenedor">
    <div class="flex justify-content-center conf-btn z-5">
        <p-button 
            icon="pi pi-pause" 
            [rounded]="true"
            severity="secondary" 
            [outlined]="true"
            [ngStyle]="{ display: !isPaused ? 'flex':'none'}"
            #btnPausar
            class="justify-content-center align-items-center p-1 m-0"
            (click)="slickModal.slickPause()"
            (click)="onPauseButton()"
        />
        <p-button 
            icon="pi pi-play" 
            [rounded]="true" 
            severity="secondary"
            [outlined]="true"
            [ngStyle]="{ display: isPaused ? 'flex':'none'}"
            #btnPlay
            class="justify-content-center align-items-center p-1"
            (click)="slickModal.slickPlay()"
            (click)="onPauseButton()"
        />
    </div>

    <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of data" class="slide">
        <img
            *ngIf="slide.ext !== 'mp4'; else videoFormat"
            src="../../../assets/img/{{ slide.item }}"
            alt=""
            width="100%"
            >
        <ng-template #videoFormat>
            <video
            #video
            src="../../../assets/img/{{ slide.item }}"
            controls
            width="100%">
            </video>
        </ng-template>
        </div>
    </ngx-slick-carousel>

  
    <!-- @if( isLoading ){
      <shared-loader></shared-loader>
    } -->
  
  </div>


