
<div class="contenedor">

    @if( isLoading ){
        <shared-loader [screenHeight]="heigthScreen"></shared-loader>
      }    

    <div class="flex justify-content-center conf-btn z-5">
        <p-button 
            icon="pi pi-pause" 
            [rounded]="true"
            severity="secondary" 
            [outlined]="true"
            [ngStyle]="{ display: !isPaused ? 'flex':'none'}"
            #btnPausar
            class="justify-content-center align-items-center p-1 m-0"
            (click)="slickModal.slickPause()"
            (click)="onPauseButton()"
        />
        <p-button 
            icon="pi pi-play" 
            [rounded]="true" 
            severity="secondary"
            [outlined]="true"
            [ngStyle]="{ display: isPaused ? 'flex':'none'}"
            #btnPlay
            class="justify-content-center align-items-center p-1"
            (click)="slickModal.slickPlay()"
            (click)="onPauseButton()"
        />
    </div>

    <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let item of items" class="slide">
        <img
            [src]="item.staticUrl"
            [alt]="item.name"
            width="100%"
            class="img-fluid"
            >
        </div>
    </ngx-slick-carousel>
  
</div>


